.home-performance{
    background-image: url(../../../assets/images/home-banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    position: relative;
    padding: 50px;
}
.home-performance::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.performance-title{
    position: relative;
    z-index: 2;
    
}
.performance-title p{
    font-size: 5rem;
    font-weight: 700; 
    color: white;
}

.performance-title span{
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.founderProfile{
    padding-top: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.founderProfile img{
    border-radius: 50%;
}
.founderName{
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.rating-content{
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    z-index: 2;
}
.rating-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: sans-serif;
  }
  
  .rating-desc {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    margin: 0 auto;
  }
  
  .circle {
    --value: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(
      #02c20c calc(var(--value) * 1%),
      transparent 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .circle::before {
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  
  .circle span {
    position: absolute;
    font-weight: bold;
    font-size: 1rem;
    color: var(--secondary-color);
    z-index: 2;
  }
  
  .label {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
  }
  .rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-performance_image{
    position: relative;
    z-index: 2;
  } 
  .home-performance_image img{
    border-radius: 10px;
      
  }