.banner {
    height: 70vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.about-us-box {
    border: 2px solid white;
    padding: 100px 40px 100px 400px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    position: absolute;
    bottom: 100px;
    background: rgba(3, 3, 3, 0.4);
    transition: 0.5s ease-in-out;
}

.about_p_text {
    text-align: justify;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 500;
    max-width: 700px;
    /* color: #333; */
    margin: 0 auto;
    letter-spacing: 0.3px;
}

.banner_content {
    position: absolute;
    top: 50%;
    transform: translate(-90%, -50%);
    text-align: start;
    color: white;
}

.about-us-text h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-us h2 {
    font-weight: 700;
}

.about-us p {
    line-height: 1.6;
}