.banner_card {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);

}

.banner_card h2 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.card_text {
    color: #fff;
    font-size: 38px;
    align-items: center;
}

.card_text h2 {
    color: #fff;
    font-size: 38px;
    padding-left: 20px;
}

.banner_card p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}